# Reference: https://github.com/i3/i3/blob/next/etc/config

# i3 didn't have "normalizations" feature that why we disable them here.
# But the feature is very helpful.
# Normalizations eliminate all sorts of weird tree configurations that don't make sense.
# Give normalizations a chance and enable them back.
#enable-normalization-flatten-containers = false
#enable-normalization-opposite-orientation-for-nested-containers = false

start-at-login = true
# The 'accordion-padding' specifies the size of accordion padding
# accordion is the default mode for default workspace 1. Not sure why.
accordion-padding = 0

# I'm not sure why workspace 1 is accordion even though this is the default: 
default-root-container-layout = 'accordion'
default-root-container-orientation = "vertical"

on-focus-changed = [
    # 'exec-and-forget $HOME/.local/bin/tmux-match-focus-vscode.sh',
    'move-mouse window-lazy-center',
]

[exec.env-vars]
PATH = '/opt/homebrew/bin/:${HOME}/.nix-profile/bin:${PATH}'

# ---------------------------------- NOTE ---------------------------------- 
# Currently can't do composition without exec-and-forget which adds delay:
# https://github.com/nikitabobko/AeroSpace/issues/278
# ---------------------------------- NOTE ---------------------------------- 
# For what it's worth, the easiest way to test movement is to open terminal and run aerospace commands to move it around

[mode.main.binding]

# -------------------------------- System --------------------------------
cmd-ctrl-shift-c = 'reload-config'
cmd-ctrl-shift-f = ['flatten-workspace-tree', 'layout v_accordion']
cmd-ctrl-y = 'layout h_tiles v_accordion'
# cmd-ctrl-shift-f = 'fullscreen'
alt-cmd-ctrl-x = 'close'
alt-cmd-ctrl-o = 'exec-and-forget shortcuts run mount_smb'

# -------------------------------- Movement --------------------------------
cmd-ctrl-h = 'focus left'
cmd-ctrl-j = 'focus --ignore-floating --boundaries-action wrap-around-the-workspace down'
cmd-ctrl-k = 'focus --ignore-floating --boundaries-action wrap-around-the-workspace up'
cmd-ctrl-l = 'focus right'

cmd-ctrl-shift-h = 'move left'
cmd-ctrl-shift-j = 'move down'
cmd-ctrl-shift-k = 'move up'
cmd-ctrl-shift-l = 'move right'

cmd-ctrl-comma = 'resize width -50'
cmd-ctrl-period = 'resize width +50'
cmd-ctrl-shift-comma = 'resize width -150'
cmd-ctrl-shift-period = 'resize width +150'

# ---------- Secondary Monitor (ext is fixed to secondary monitor) ---------
# NOTE: For individual windows (nodes), it's probably easier to just move it to 'ext' workspace instead of moving to monitor

# cmd-ctrl-tab-h (plus)
cmd-ctrl-shift-equal = 'move-node-to-monitor --focus-follows-window --wrap-around prev'
# cmd-ctrl-tab-j (minus)
cmd-ctrl-minus = 'move-workspace-to-monitor --wrap-around prev'
# cmd-ctrl-tab-k (underscore)
cmd-ctrl-shift-minus = 'move-workspace-to-monitor --wrap-around next'
# cmd-ctrl-tab-l (equal)
cmd-ctrl-equal = 'move-node-to-monitor --focus-follows-window --wrap-around next'

# -------------------------------- Workspaces --------------------------------
# See workspaces_extra mode for additional workspace switching bindings
cmd-ctrl-v = 'workspace games --auto-back-and-forth'
cmd-ctrl-s = 'workspace slack --auto-back-and-forth'
cmd-ctrl-o = 'workspace outlook --auto-back-and-forth'
cmd-ctrl-m = 'workspace music --auto-back-and-forth'
cmd-ctrl-n = 'workspace notif --auto-back-and-forth'
cmd-ctrl-t = 'workspace terminal --auto-back-and-forth'
cmd-ctrl-e = 'workspace code --auto-back-and-forth'
cmd-ctrl-w = 'workspace web --auto-back-and-forth'
cmd-ctrl-g = 'workspace files --auto-back-and-forth'
cmd-ctrl-b = 'workspace blender --auto-back-and-forth'
cmd-ctrl-a = 'workspace llm --auto-back-and-forth'
cmd-ctrl-r = 'workspace notes --auto-back-and-forth'
cmd-ctrl-z = 'workspace zoom --auto-back-and-forth'
cmd-ctrl-i = 'workspace chat --auto-back-and-forth'
cmd-ctrl-c = 'workspace creds --auto-back-and-forth'
cmd-ctrl-semicolon = 'workspace other --auto-back-and-forth'
# Secondary monitor
cmd-ctrl-quote = 'workspace ext --auto-back-and-forth'

# alt-shift-t = 'move-node-to-workspace terminal'
cmd-ctrl-shift-e = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window code',
    'layout tiling',
    # Another alternative is 'move right' which would limit the other code windows to 1/2 of the screen
    'join-with up',
]
cmd-ctrl-shift-w = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window web',
    'layout tiling',
    'join-with up',
]
cmd-ctrl-shift-b = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window blender',
    'layout tiling',
    'join-with up',
]
cmd-ctrl-shift-o = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window outlook',
    'layout tiling',
    'join-with up',
]
cmd-ctrl-shift-a = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window llm',
    'layout tiling',
    'join-with up',
]
cmd-ctrl-shift-r = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window notes',
    'layout tiling',
    'join-with up',
]
cmd-ctrl-shift-z = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window zoom',
    'layout tiling',
    'join-with up',
]
cmd-ctrl-shift-n = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window notif',
    'layout tiling',
    'join-with up',
]
cmd-ctrl-shift-m = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window music',
    'layout tiling',
    'join-with up',
]
cmd-ctrl-shift-v = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window games',
    'layout tiling',
    'join-with up',
]
cmd-ctrl-shift-i = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window chat',
    'layout tiling',
    'join-with up',
]
cmd-ctrl-shift-semicolon = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window other',
    'layout tiling',
    'join-with up',
]
cmd-ctrl-shift-quote = [
    'layout floating',
    'move-node-to-workspace --focus-follows-window ext',
    'layout tiling',
    'join-with up',
]

cmd-ctrl-1 = 'workspace 1'
cmd-ctrl-2 = 'workspace 2'
cmd-ctrl-3 = 'workspace 3'
cmd-ctrl-4 = 'workspace 4'
cmd-ctrl-5 = 'workspace 5'
cmd-ctrl-6 = 'workspace 6'
cmd-ctrl-7 = 'workspace 7'
cmd-ctrl-8 = 'workspace 8'
cmd-ctrl-9 = 'workspace 9'
cmd-ctrl-0 = 'workspace 10'

cmd-ctrl-shift-1 = 'move-node-to-workspace 1'
cmd-ctrl-shift-2 = 'move-node-to-workspace 2'
# cmd-ctrl-shift-3 = 'move-node-to-workspace 3'
# cmd-ctrl-shift-4 = 'move-node-to-workspace 4'
# cmd-ctrl-shift-5 = 'move-node-to-workspace 5'
# cmd-ctrl-shift-6 = 'move-node-to-workspace 6'
# cmd-ctrl-shift-7 = 'move-node-to-workspace 7'
# cmd-ctrl-shift-8 = 'move-node-to-workspace 8'
# cmd-ctrl-shift-9 = 'move-node-to-workspace 9'
# cmd-ctrl-shift-0 = 'move-node-to-workspace 10'

# Consider using 'join-with' command as a 'split' replacement if you want to enable normalizations
# alt-shift-w = 'join-with left'
# alt-shift-t = 'join-with up'

# Not supported, because this command is redundant in AeroSpace mental model.
# See: https://nikitabobko.github.io/AeroSpace/guide#floating-windows
#alt-shift-space = 'focus toggle_tiling_floating'

# `focus parent`/`focus child` are not yet supported, and it's not clear whether they
# should be supported at all https://github.com/nikitabobko/AeroSpace/issues/5
# alt-shift-a = 'focus parent'

# --------------------------------------------------------------------------
#                                  Modes                                 
# -------------------------------------------------------------------------- 

# cmd-ctrl-shift-comma = 'mode resize'
cmd-ctrl-slash = 'mode layout'

[mode.workspaces_extra.binding]
# Remember to add any new workspaces to window callbacks below

enter = 'mode main'
esc = 'mode main'

[mode.layout.binding]
# alt-shift-s = 'layout v_accordion'               # 'layout stacking' in i3
# alt-shift-w = 'layout h_accordion'               # 'layout tabbed' in i3

t = ['layout tiles v_accordion', 'mode main']
# 'layout toggle split' in i3
w = ['layout tiles horizontal vertical', 'mode main']
f = "flatten-workspace-tree"
# 'floating toggle' in i3
c = ['layout floating tiling', 'mode main']
j = 'join-with down'
k = 'join-with up'
l = 'join-with right'
h = 'join-with left'

enter = 'mode main'
esc = 'mode main'

[mode.resize.binding]
h = 'resize width -50'
j = 'resize height +50'
k = 'resize height -50'
l = 'resize width +50'

enter = 'mode main'
esc = 'mode main'

[mode.move.binding]
h = 'move left'
j = 'move down'
k = 'move up'
l = 'move right'
enter = 'mode main'
esc = 'mode main'

# --------------------------------------------------------------------------
#                              Multiple Monitors                                 
# -------------------------------------------------------------------------- 

# Can't use move-workspace-to-monitor if force assigned
# 'main' and 'secondary' are special/fixed monitor names created by aerospace to refer to the main and secondary monitors respectively.
[workspace-to-monitor-force-assignment]
# Fix 'ext' workspace to secondary monitor if connected
ext = ['secondary', 'main']
# 4 = 'built-in'                  # Case insensitive regex substring
# 5 = '^built-in retina display$' # Case insensitive regex match

# --------------------------------------------------------------------------
#                                  Callbacks                                 
# -------------------------------------------------------------------------- 

# list of popular application IDs: https://nikitabobko.github.io/AeroSpace/goodness#popular-apps-ids
# You can use 'aerospace list-apps' CLI command to get IDs of running applications
# mdls -name kMDItemCFBundleIdentifier -r /Applications/App.app

[[on-window-detected]]
if.app-id = 'com.microsoft.VSCode'
check-further-callbacks = false
run = 'move-node-to-workspace code'

[[on-window-detected]]
# Cursor
if.app-id = 'com.todesktop.230313mzl4w4u92'
check-further-callbacks = false
run = 'move-node-to-workspace code'


[[on-window-detected]]
if.app-id = 'com.google.Chrome'
check-further-callbacks = false
run = 'move-node-to-workspace web'

[[on-window-detected]]
if.app-id = 'com.brave.Browser'
check-further-callbacks = false
run = 'move-node-to-workspace web'

[[on-window-detected]]
if.app-id = 'com.microsoft.edgemac'
check-further-callbacks = false
run = 'move-node-to-workspace web'

[[on-window-detected]]
if.app-id = 'com.apple.Safari'
check-further-callbacks = false
run = 'move-node-to-workspace web'

[[on-window-detected]]
if.app-id = 'org.mozilla.firefox'
check-further-callbacks = false
run = 'move-node-to-workspace web'

[[on-window-detected]]
if.app-id = 'md.obsidian'
check-further-callbacks = false
run = 'move-node-to-workspace notes'

[[on-window-detected]]
if.app-name-regex-substring = 'Gemini'
check-further-callbacks = false
run = 'move-node-to-workspace llm'

[[on-window-detected]]
if.app-name-regex-substring = 'Claude'
check-further-callbacks = false
run = 'move-node-to-workspace llm'

[[on-window-detected]]
if.app-name-regex-substring = 'Open WebUI'
check-further-callbacks = false
run = 'move-node-to-workspace llm'

[[on-window-detected]]
if.app-id = 'com.openai.chat'
check-further-callbacks = false
run = 'move-node-to-workspace llm'

[[on-window-detected]]
if.app-id = 'com.microsoft.Outlook'
check-further-callbacks = false
run = 'move-node-to-workspace outlook'

[[on-window-detected]]
if.app-id = 'com.apple.MobileSMS'
check-further-callbacks = false
run = 'move-node-to-workspace notif'

[[on-window-detected]]
if.app-id = 'com.spotify.client'
check-further-callbacks = false
run = 'move-node-to-workspace music'

[[on-window-detected]]
if.app-id = 'com.podurama.podcast'
check-further-callbacks = false
run = 'move-node-to-workspace music'

[[on-window-detected]]
if.app-id = 'com.apple.podcasts'
check-further-callbacks = false
run = 'move-node-to-workspace music'

[[on-window-detected]]
if.app-id = 'us.zoom.xos'
check-further-callbacks = false
run = 'move-node-to-workspace zoom'

[[on-window-detected]]
if.app-id = 'com.microsoft.teams2'
check-further-callbacks = false
run = 'move-node-to-workspace zoom'

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
check-further-callbacks = false
run = 'move-node-to-workspace slack'

[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
check-further-callbacks = false
run = 'move-node-to-workspace slack'

[[on-window-detected]]
if.app-id = 'com.mojang.minecraftlauncher'
check-further-callbacks = false
run = 'move-node-to-workspace games'

[[on-window-detected]]
if.app-name-regex-substring = 'java'
check-further-callbacks = false
run = 'move-node-to-workspace games'

[[on-window-detected]]
# if.app-id = 'org.alacritty'
if.app-name-regex-substring = '(?i)alacritty'
if.window-title-regex-substring = '(?i)AI'
check-further-callbacks = false
run = ['move-node-to-workspace chat']
# run = ['layout floating', 'move-node-to-workspace chat']

[[on-window-detected]]
if.app-id = 'org.alacritty'
check-further-callbacks = false
run = 'move-node-to-workspace terminal'
# run = ['layout floating']

[[on-window-detected]]
if.app-id = 'io.ente.auth.mac'
check-further-callbacks = false
run = 'move-node-to-workspace creds'

[[on-window-detected]]
if.app-id = 'com.bitwarden.desktop'
check-further-callbacks = false
run = 'move-node-to-workspace creds'

[[on-window-detected]]
if.app-id = 'com.apple.Preview'
check-further-callbacks = false
run = 'move-node-to-workspace files'

[[on-window-detected]]
if.app-id = 'com.microsoft.Powerpoint'
check-further-callbacks = false
run = 'move-node-to-workspace files'

[[on-window-detected]]
if.app-id = 'com.microsoft.Word'
check-further-callbacks = false
run = 'move-node-to-workspace files'

[[on-window-detected]]
if.app-id = 'com.microsoft.Excel'
check-further-callbacks = false
run = 'move-node-to-workspace files'

[[on-window-detected]]
if.app-id = 'com.apple.finder'
check-further-callbacks = false
run = 'move-node-to-workspace files'

[[on-window-detected]]
if.app-id = 'org.blenderfoundation.blender'
check-further-callbacks = false
run = 'move-node-to-workspace blender'

# [[on-window-detected]]
# if.app-id = 'org.eyebeam.SelfControl'
# check-further-callbacks = false
# run = ['layout tiling']

# [[on-window-detected]]
# if.app-id = 'com.apple.SystemProfiler'
# check-further-callbacks = false
# run = ['layout floating']

# [[on-window-detected]]
# if.app-id = 'org.gpgtools.pinentry-mac'
# check-further-callbacks = false
# run = ['layout floating']

# Catch-all for 'other'
[[on-window-detected]]
if.app-name-regex-substring = '^(?!.*com\.apple).*$'
check-further-callbacks = false
run = 'move-node-to-workspace other'


# [[on-window-detected]]
# if.app-id = 'com.apple.systempreferences'
# if.app-name-regex-substring = 'settings'
# if.window-title-regex-substring = 'substring'
# if.workspace = 'workspace-name'
# if.during-aerospace-startup = true
# check-further-callbacks = true
# run = ['layout floating', 'move-node-to-workspace 1']
